<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="46936PHPete.Windows.UI.CompositionSampleGallery" Publisher="CN=B3C1ACF3-CF61-4DDF-9AE7-AC546C869D6E" Version="1.1.8.0" />
  <mp:PhoneIdentity PhoneProductId="12b3cd41-eff7-4b21-b37a-09583604a027" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Windows UI Sample Gallery</DisplayName>
    <PublisherDisplayName>Peter Felts</PublisherDisplayName>
    <Logo>Assets\StoreAssets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CompositionSampleGallery.App">
      <uap:VisualElements DisplayName="Windows UI Dev Labs Sample Gallery" Square150x150Logo="Assets\StoreAssets\Square150.png" Square44x44Logo="Assets\StoreAssets\AppIcon.png" Description="Sample gallery for the Windows.UI.Composition namespace." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\StoreAssets\Wide.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\StoreAssets\SplashScreen.png" BackgroundColor="#00BCF2" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>